.vscode
APP/bin
APP/obj
APP/Logs
APP/Properties
APP/appsettings.Development.json
APP/appsettings.json
Services/Data/bin
Services/Data/obj
.DS_Store
APP/dump.rdb
Services/Model/bin
Services/Model/obj
Services/Data/Migrations
Services/Data/bin
Services/Data/obj
Services/Helper/bin
Services/Helper/obj
Services/LoggingService/bin
Services/LoggingService/obj
Makefile
APP/ClientApp/.angulardoc.json
APP/ClientApp/ssl